In [2]:
import json
import pandas as pd

In [3]:
squad_results = json.load(open("squad_albert_joint_loss.json"))

In [7]:
df = pd.DataFrame(squad_results)
df.index = ['layer_{}'.format(i) for i in range(12)]

In [8]:
df

          exact_match         f1
layer_0     17.379376  26.390606
layer_1     54.758751  67.632150
layer_2     67.048250  78.033796
layer_3     72.573321  82.323175
layer_4     75.865658  85.031601
layer_5     78.003784  86.598577
layer_6     79.612110  87.697654
layer_7     79.877010  87.973824
layer_8     80.141911  88.150018
layer_9     80.236518  88.231816
layer_10    80.141911  88.171018
layer_11    79.943236  88.036916